#
# Build config for pmt workflows
# 
# 2.4.0 config
#

# Version
export BUILD_VERSION="2.4.0"

# Relese tag
export BUILD_RELTAG="240"

# Target architures
export BUILD_ARCH="arm64-v8a, armeabi-v7a"

# NDK environ for getting clang version
export NDK="/home/workdir/android-ndk"
export TC="${NDK}/toolchains/llvm/prebuilt/linux-x86_64"
export TARGET_TEMPLATE="aarch64-linux-android"
export API_TEMPLATE="21"
export NDK_CLANG="${TC}/bin/${TARGET_TEMPLATE}${API}-clang"

# get version
export CLANG_VERSION=$(${NDK_CLANG} --version | head -n 1)
